### Loading time series data

In [1]:
import pandas as pd

discoveries = pd.read_csv('ch1_discoveries.csv')
discoveries.head(5)

         date  Y
0  01-01-1860  5
1  01-01-1861  3
2  01-01-1862  0
3  01-01-1863  2
4  01-01-1864  0

### Finding missing values

In [2]:
co2_levels = pd.read_csv('ch2_co2_levels.csv')
co2_levels.head(7)

    datestamp    co2
0  1958-03-29  316.1
1  1958-04-05  317.3
2  1958-04-12  317.6
3  1958-04-19  317.5
4  1958-04-26  316.4
5  1958-05-03  316.9
6  1958-05-10    NaN

In [3]:
# Set datestamp column as index
co2_levels = co2_levels.set_index('datestamp')

# Print out the number of missing values
print(co2_levels.isnull().sum())

co2    59
dtype: int64

### Handle missing values