### Loading time series data

In [1]:
import pandas as pd

discoveries = pd.read_csv('ch1_discoveries.csv')
discoveries.head(5)

         date  Y
0  01-01-1860  5
1  01-01-1861  3
2  01-01-1862  0
3  01-01-1863  2
4  01-01-1864  0